<!--<h1>
  App component
</h1>
<app-server></app-server>
<app-red></app-red>
<app-yellow></app-yellow>
<app-green></app-green>
-->

<h3>Information of Server</h3>
<input type="text" placeholder="serverName" [(ngModel)]= "serverName">
<input type="text" placeholder="serverID" [(ngModel)]= "serverID">
<button (click)= "reset()" [disabled]="check()">Reset</button>
<button [disabled]="buttonState" (click)="toggleServerStatus()" >Toggle Server Status</button>
<h3>status of server </h3>
<p>{{serverName}}</p>
<p>{{serverID}}</p>
<p>status of server is {{ ServerStatus}}</p>